{% extends 'base.html' %}
{% load cache %}

{% block title %} Главная страница {% endblock %}

{% block content %}
<h1>Добро пожаловать на наш сайт</h1>
<p>Это главная страница нашего сайта</p>
    {% cache 300 total_mailings_cache %}
    <p>Всего рассылок: {{ total_mailings }}</p>
    {% endcache %}
    {% cache 300 active_mailings_cache %}
    <p>Активных рассылок: {{ active_mailings }}</p>
    {% endcache %}
    {% cache 300 unique_clients_cache %}
    <p>Уникальных получателей: {{ unique_clients }}</p>
    {% endcache %}
{% endblock %}
